<div id="<%= dom_id(glob)%>" class="glob border border-dark rounded">
    <p><strong>Title: </strong><%= link_to_unless_current glob.title, glob%></p>
    <p><strong>Summary: </strong><%= glob.summary%></p>
    <p><strong>Author: </strong><%= glob.author%></p>
</div>