<% title "About"%>

<p class="text-left">My name is Zac I am currently attending University,</br>
and this is my senior project so bear with me through </br>
the bugs and quirks of my web development journey. </p>