<% title "Welcome to Ludus"%>
<p class="text-left">Ludus is intended to be a place where you can share,</br>
collaborate, and edit stories, whether it be real experiences</br>
or that of your imagination welcome to ludus.</p>
